nav.gh-nav
  header.gh-nav-menu
    .gh-nav-menu-icon(style="background-image: url(/images/froyo-logo.png) ")
    .gh-nav-menu-details
      .gh-nav-menu-details-blog StoryCMS
      .gh-nav-menu-details-user Purwandi
    i.icon-arrow
  .dropdown.closed.fade-out
    ul.dropdown-menu.dropdown-triangle-top(style="right: -20px; left: auto")
      li <a href=""><i class="icon-shop"></i> About </a>
      li.divider
      li <a href=""><i class="icon-user"></i> About </a>
      li <a href=""><i class="icon-signout"></i> About </a>

  section.gh-nav-body
    section.gh-nav-search
      .gh-nav-search-input
        .ember-power-select.ember-basic-dropdown.ember-basic-dropdown--in-place
          .ember-basic-dropdown-trigger.ember-power-select-trigger
            .ember-view
              .ember-power-select-search
                input(type="search" placeholder="Search")
                button.gh-nav-search-button <i class="icon-search"></i>
                  span.sr-only Search

    ul.gh-nav-list.gh-nav-main
      li <a v-link="{ name: 'PostCreate' }"><i class="icon-pen"></i> New Post</a>
      li <a v-link="{ name: 'PostList' }"><i class="icon-content"></i> Content</a>
      li <a href=""><i class="icon-team"></i> Team</a>
    ul.gh-nav-list.gh-nav-settings
      li.gh-nav-list-h Settings
      li <a v-link="{ name: 'SettingGeneral' }"><i class="icon-settings"></i> General</a>
      li <a href=""><i class="icon-compass"></i> Navigation</a>
      li <a href=""><i class="icon-box"></i> Apps</a>

  footer.gh-nav-footer
    .gh-menu-toggle
      i.icon-minimise
    a.gh-nav-footer-sitelink View blog
    .gh-help-menu
      .closed
        .gh-help-button
          i.icon-question
            span.hidden Help
