button.btn.btn-sm.btn-blue.dropdown-toggle.up(:class="dropdown === false ? 'closed' : 'open'" @click="click") {{{ text }}}
.dropdown.editor-options(:class="dropdown === false ? 'closed fade-out' : 'open fade-in'")
  slot
